<div id="allmess" style="overflow: scroll;">
  <div class="container">
    <% if @messages %>
      <p>All Messages</p>
        <% @messages.each do |m| %>
          <div id="mess">
            <div class="white"><h3><%= m.email %></h3></div>
          <br>
            <div><%= m.content %></div>
          </div>
          <hr>
        <% end %>
   <% else %>
    <h1>No Messages</h1>
  <% end %>
  </div>
</div>
