<div id="allmess" style="overflow: scroll;">
  <div class="container">
    <% if @messages.present? %>
      <p>All Messages</p>
        <% @messages.each do |m| %>
          <div id="mess">
            <div class="white"><h3><%= m.email %></h3></div>
          <br>
            <div><%= m.content %></div>
            <%= link_to "Remove", message_path(m),
                                 method: :delete,
                                 data: {confirm: 'Are you sure?'}, :class=>"btn btn-primary" %></p>
          </div>
          <hr>
        <% end %>
   <% else %>
      <div class="text-center">
        <h1>No Messages</h1>
      </div>
    <% end %>
  </div>
  <%= paginate @messages %>
</div>
