<body id="sign-in-bg">
<div class="container login-user">
<h1 id="register-h1">Sign In</h1>

<%= render 'form', user: @user %>

<p id="create-p">Don't have an account? <%= link_to 'Create Account', new_user_path %></p>

<%= link_to '<< Back', users_path %>
</div>
</body>
