<h1>About Us</h1>

<section class="about-blurb">
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
    non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  </p>
</section>

<h1>
  Meet the Team Behind This Initiative
</h1>

<section class="about-team-profiles">
  <article>
    <div id="pic1" class="about-team-pic"></div>
    <h3>Lucy Heartfilia</h3>
    <h4>Anime Character</h4>
  </article>
  <article>
    <div id="pic2" class="about-team-pic"></div>
    <h3>Shinji</h3>
    <h4>Anime Character</h4>
  </article>
  <article>
    <div id="pic3" class="about-team-pic"></div>
    <h3>Asami Akimoto</h3>
    <h4>Anime Character</h4>
  </article>
  <article>
    <div id="pic4" class="about-team-pic"></div>
    <h3>Lelouch Vi Britannia</h3>
    <h4>Anime Character</h4>
  </article>
</section>
