<%#= image_tag('background.png', style: "height: 300px; width: 300px") %>
<div class="container-fluid" id="boxy" style="min-height:500px">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2" >

<br>

  <h1>FAQ</h1>

  <h2>For Arcade Players</h2>
        <button class="accordion">Where Can I find the nearst Indie Arcade?</button>
        <div class="panel">
          <p>Lorem ipsum..</p>
        </div>

        <button class="accordion">Where is the link to buy the game?</button>
        <div class="panel">
          <p>Lorem ipsum...</p>
        </div>


  <h2>For Developers</h2>



  <button class="accordion">I can't upload my game</button>
  <div class="panel">
    <p>Lorem ipsum...</p>
  </div>

  <button class="accordion">Help! My game doesn't upload!</button>
  <div class="panel">
    <p>Lorem ipsum...</p>
  </div>
  <br>



</div>

</div>
</div>
