<!-- ADMIN VIEW -->
<%# If current user is an admin show this via authorizations %>
<% if true %>
  <h2>List of Games to Approve</h2>
  <hr>

  <%=  %>
  <%=  %>
<% end %>


released
not release
under review
not compatible
rejected
