/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 */

 //= require bootstrap_and_overrides
 //= require font_awesome
 //= require chosen-compass
 //= require_tree .
 //= require_self

body {
   margin-left: 0px;
   margin-right: 0px;
}

hr {
  height: 6px;
  background-color: orange;
  margin-bottom: 0px;
}

// NAVBAR STYLING

.container-fluid {
  background-color: #003c62;
  font-family: 'Prompt', sans-serif;
  font-size: 18px;
  color: white;
}

.nav.navbar-nav.navbar-right {
  margin-right: 30px;
}

.nav.navbar-nav.navbar-right a {
  color: white;
}
.nav.navbar-nav.navbar-right a:hover {
   color: lightgrey;
}

.navbar.navbar-default.navbar-fixed-top {
    border-bottom-width: 0px;
  }

#logo-container a {
  width: 100%;
  height: auto;
  line-height: 45px;
}

// END NAVBAR SYLING

// FOOTER

.home-footer {
  height: 200px;
  width: 100%;
  overflow: hidden;
  background-color: #003c62;
  text-align: center;
  font-family: 'Prompt', sans-serif;
  color: white;
  font-size: 20px;
}

.home-footer-left {
  text-align: left;
  margin-left: 25px;

}
// END FOOTER STYLING
