// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "variables";
@import "mixins";

#index-bg {
  width: 100%;
  min-height: 500px;
  padding-bottom: 20px;
}

.games-index-h1 {
  font-size: 3em;
  font-family: 'Prompt', sans-serif;
  font-weight: bold;
  color: #fff;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 30px;
  text-align: left;
}

.madeby{
  background: #919da2;
  color: #dcd7c4;
  font-size: 10px;
  padding: 2px 0px 2px 4px;
  position: relative;
  margin-right: 8px;

  &:after{
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    right: -9px;
    top: 0px;
    border-style: solid;
    border-width: 8px 0 8px 9px;
    border-color: transparent transparent transparent #919da2;
  }
}

.container-index-games {
  background: rgb(0, 60, 97);
  margin-top: 80px;
  padding: 20px;
  padding-bottom: 20px;
  color:#9ca3b5;

  form{
    margin-bottom: 20px;
  }

  form#tags label{
    color:#9ca3b5;
    border-bottom: solid 1px rgba(125, 125, 125, 0.31);
    padding: 5px 0;
    margin: 0;
    transition: all .5s;
    font-size: 12px;

    &:hover{
      background: rgb(6, 69, 107);
      cursor: pointer;
    }
  }

  h4{
    color: #6c8aa5;
    padding-bottom: 10px;
  }
}

.back-btn-update a {
  margin-top: 30px;
  font-size: 1em;
  color: #333;
  text-decoration: none;
}

.back-btn-update a:hover {
  margin-top: 30px;
  font-size: 1em;
  color: #333;
  text-decoration: underline;
}

.back-btn-update {
  margin-top: 30px;
  margin-bottom: 20px;
}

.checkbox label {
  color: #333;
  text-align: left;
  margin-left: 10px;
  display: none;
}

label {
  display: none;
}

.checkbox input[type="checkbox"] {
  margin-left: 10px;
}


#narrow-by-tags {
  margin-left: 10px;
  font-weight: bold;
  font-size: 1.3em;
}

input {
  &.search-tags-btn {
    margin-left: 10px;
  }
}

input.search-tags-btn {
  background-color: #EF7030;
  border: 0;
  color: #fff;
  border-radius: 4px;
}

input.search-tags-btn:hover {
  background-color: #F9804B;
  border-color: #EF7030;
  color: #fff;
}

input#search_user {

  border-radius: 4px;
  width: 160px;
  border: 0;
  padding-left: 5px;
}

#search-form div label {
  color: #333;
  text-align: left;
  margin-left: 20px;
}

#search-for-studio {
  background-color: #EF7030;
  border: 0;
  color: #fff;
  border-radius: 4px;
  font-size: 14px;
}

#search-for-studio:hover {
  background-color: #F9804B;
  color: #fff;
}

.box {
  background: rgba(255,255,255,0.7);
  width: 100%;
  margin-bottom: -10px;
  margin-top: -10px;
}

.game-picture {
  float: left;
  width: 360px;
}

.gamer-details a {
  color: #003C62;
  text-decoration: none;
}

.gamer-details a:hover {
  color: #075982;
}

.gamer-details-author a {
  color: #333;
  text-decoration: none;
}

.gamer-details-author a:hover {
  color: #666;
  text-decoration: underline;
}

.gamer-details p {
  font-size: 1.2em;
}

.pagination {
  margin-bottom: 40px;
  font-size: 1.2em;
  font-weight: normal;
}

.pagination a, .pagination span.current, .pagination span.gap {
    float: left;
    padding: 0 14px;
    line-height: 38px;
    text-decoration: none;
    background-color: #003C62;
    color: #fff;
}

.pagination a:hover {
  background-color: #378DB7;
  color: white;
  text-decoration: none;
}

.radio label, .checkbox label {
    text-align: left;
    color: #fff;
    font-size: 1.3em;
}

#submit-show {
  padding-bottom: 50px;
}

p.control-group {
  text-align: center;
  color: white;
  margin-top: 15px;
}

form#tags label {
    text-align: left;
    color: #333;
    font-size: 1.1em;
    font-weight: normal;
}

.game-details {
  text-align: center;
  display: inline;
  margin-left: 20px;
  position: absolute;
  top: 0;
}

.wrapper {
  overflow:hidden;
  background: rgba(255,255,255,0.7);
  margin-bottom: 25px;
}

.one img{
  width: 290px;
}

.one {
  float:left;
  width: 290px;
  background-size: cover;
}
.two {
  padding: 0px 20px;
  overflow:hidden;
  min-height:200px;

}

@media screen and (max-width: 400px) {
   #one {
    float: none;
    margin-right:0;
    width:auto;
    border:0;
  }
  .dsdsd{
    border: none;
  }
}

.game-title {
  font-weight: bold;
  font-size: 1.2em;
  color: #003C62;
  text-align: left;
  text-transform: capitalize;
}

.game-title a:hover {
  color: #fff;
}

.game-details a {
  color: #428bca;
}

.checkbox_container {
  display: inline-block;
  vertical-align: -1px;
  margin: 5px;
 }
.checkbox_container input {
  display: inline;
 }
.checkbox_container .collection_check_boxes{
  display: inline;
  vertical-align: -5px;
 }

div.container.sentences {
  margin-bottom: 30px;
  margin-top: 10px;
  font-size: 1.2em;
}

.container.sentences input {
  margin-top: 20px;
  background-color: #EF7030;
  border-color: #EF7030;
  color: #fff;
  border-radius: 4px;
  padding: 5px 40px;
}

.container.sentences input:hover {
  background-color: #F9804B;
  border-color: #EF7030;
  color: #fff;
}

a.container.sentences {
  color: #F9804B;
}

.show-a-tag {
  color: #EF7030;
}

.show-a-tag:hover {
  color: #F98D5D;
}


label.control-label.radio_buttons.required {
  color: #333;
  text-align: left;
  margin-top: 40px;
  font-size: 20px;
  margin-bottom: 15px;
}

.upload label.control-label.file.optional {
  margin-top: 20px;
  color: #333;
  text-align: left;
  margin-bottom: 15px;
}

.upload label.control-label.string.optional {
  margin-top: 30px;
  color: #333;
  text-align: left;
  margin-bottom: 15px;
}

.upload label.control-label.string.required {
  margin-top: 30px;
  color: #333;
  text-align: left;
  margin-bottom: 15px;
}

.upload label.control-label.text.required {
  margin-top: 30px;
  color: #333;
  text-align: left;
  margin-bottom: 15px;
}

// input.btn.btn-default {
//   margin-top: 20px;
// }

.label-for-tags {
  margin-top: 20px;
  color: #fff;
  display: block;
  font-size: 1.3em;
  font-weight: bold;
  margin-bottom: 15px;
}

select#game_tag_ids.chosen-select {
  width: 500px;
  color: #333;
}

.radio label {
  color: #333;
  line-height: 30px;
}

input.radio_buttons.required {
  vertical-align: top;
}

div.btn {
  padding: 0px;
  border: 0;
}

.orange {
  color: #EF7030;
}

.black {
  color: #333;
}

p.control-group {
  color: #333;
  font-size: 1.2em;
  text-align: left;
}

// <<<<<<< HEAD

// Styling game upload/edit form
.input-for-game div label {
  color: black;
  text-align: left;
  margin: 10px;
}
// =======

.tag-wrapper{
  padding: 15px 10px;
  background: rgba(187, 213, 224, 0.65);
}
.tag-boxes {
  background-color: rgb(151, 184, 199);
  padding: 4px 8px;
  display: inline-block;
  @include rounded(15px);
}

p.tag-boxes {
  margin-bottom: 5px;
  font-size: 12px;
}

.upload-form-control, .control-label {
  color: #333;
}

.form-inputs input, .form-inputs textarea, .form-inputs select{
}

p.control-group{
  text-align: center;
  color: #fff;
  font-size: 1.3em;
}

.upload h1 {
  font-size: 3em;
  font-family: 'Prompt', sans-serif;
  font-weight: bold;
  color: #fff;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 30px;
}

input#game_picture.file.optional {
  color: #333;
}




//
// version 2 team 7

.round {
  width: 80px;
  height: 80px;
  border-radius: 40px;
  background-image: image-url('logo.png');
  float: left;
  top: 10px;
  left: 10px;
  padding-left: 10px;
  padding-top: 50px;
  margin-top: 10px;
  margin-left: 10px;
  text-align: center;
}

.game-grid {
  display: flex;
  flex-wrap: wrap;
  flex-flow: row wrap;
}

.game-item{
  width: 250px;
  height: 250px;
  border-radius: 10px;
  background: rgba(200, 200, 200, 0.5);
  background-blend-mode: lighten;
  margin: 1rem 1rem 1rem 1rem;
  flex-grow: 1;
}

.game-thumb {
  width: 100px;
  height: 100px;
  border-radius: 5px;
  background: rgba(200, 200, 200, 0.5);
  background-blend-mode: lighten;
  margin: 1rem 1rem 1rem 1rem;
  flex-grow: 1;
}

.game-img {
  align-items: flex-start;
}

.game-title {
  align-self: flex-end;
  padding-bottom: 0.2rem;
}

.grid-spacing{
  margin-bottom: 5rem;
}

.linkA {
  display: block;
}

.image-front {
  width: 100%;
}

.page-divider {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.page-divider-semi {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

.msg-form-spacing {
  margin-top: 1rem;
  margin-bottom: 1rem
}

.game-img {
  max-height: 300px;
}

.btn-rejected {
  background-color: red;
}

.btn-approved {
  background-color: green;
}
