.home-map iframe {
    pointer-events: none;
}

// Contact
#contactheader{
  margin-top: 60px;
  text-align: center;
  font-size: 36px;
  margin-bottom: 60px;
  font-weight: bold;
}

.smallerfont{
  font-size: 13px;
}

.row-centered {
    text-align:center;
}

.col-centered {
    vertical-align: top;
    display:inline-block;
    float:none;
    text-align:left;
    margin-right:-4px;
}

#leavemess{
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 25px;
}
// Styling for about page
.about {
  &-blurb > p {
    font-size: 1.2em;
  }

  &-team-profiles {
    display: flex;
    flex-flow: wrap row;
    justify-content: space-around;

    &> article {
      flex-basis: 25%;
      padding: 1rem;

      display: flex;
      flex-flow: column;
      align-items: center;

      h3, h4 {
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }
  }

  &-team-pic {
    width: 200px;
    height: 200px;
    margin: auto;
  }
}

#pic1 {
  background-image: image-url('aboutteam1.jpg');
  background-size: cover;
  border-radius: 100px;
}

#pic2 {
  background-image: image-url('aboutteam2.jpg');
  background-size: cover;
  border-radius: 100px;
}

#pic3 {
  background-image: image-url('aboutteam3.jpeg');
  background-size: cover;
  border-radius: 100px;
}

#pic4 {
  background-image: image-url('aboutteam4.jpg');
  background-size: cover;
  border-radius: 100px;
}

.fa-stack a {
    color: #333;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
button.accordion.active, button.accordion:hover {
    background-color: #ddd;
}

button.accordion:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
}

button.accordion.active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
}

// version 2 team 7

.panel-heading {
  color: darkgrey;
}

#got-game {
  font-weight: bold;
  font-size: 45px;
}

#indie-game-heading {
  color: lightblue;
}

.glyphicon {
  font-size: 20px;
}

.footer {
  padding-top: 20px;
  width: 100%;
}

.copyright {
  font-size: 20px;
}
