// CAROUSEL CSS

#home-slideshow {
    max-height: 450px;
    width: 100%;
    overflow: hidden;
}

.carousel-inner > .item > a > img,
.carousel-inner > .item > img {
    display: block;
    height: auto;
    max-width: 100%;
    line-height: 1;
    width: 100%;
}

img.carousel-inner {
    width: 100%;
}
// END CAROUSEL CSS
.home-intro {
    height: 300px;
    width: 100%;
    overflow: hidden;
    background-image: url("2.jpg");
    background-size: cover;
    text-align: center;
    line-height: 23px;
    color: white;
    font-size: 18px;
    text-shadow: 3px 3px 0 #000;
}

.home-intro h1 {
    font-size: 36px;
    font-weight: bold;
    font-family: 'Audiowide', cursive;
}

.home-map-intro {
    min-height: 50px;
    text-align: center;
    font-size: 20px;
    font-style: italic;
    background-image: url("4.png");
}

.home-map-intro div {
    padding-top: 25px;
    padding-bottom:25px;
}

.home-map iframe {
    pointer-events: none;
}

.home-social-media {
    margin-top: -5px;
    height: auto;
    text-align: center;
    background-image: url("4.png");
    background-repeat: repeat;
    font-size: 25px !important;
    font-family: 'Audiowide', cursive;
}

.fa-stack a {
    color: #333;
}
