
.home-map iframe {
    pointer-events: none;
}

// Contact
#contactheader{
  margin-top: 60px;
  text-align: center;
  font-size: 36px;
  margin-bottom: 60px;
  font-weight: bold;
}

#contactbody{
  background-image: url("contact-bg.jpg");
  background-size: cover;
  font-size: 18px;
  color: white;
}

.smallerfont{
  font-size: 13px;
}
.row-centered {
    text-align:center;
}
.col-centered {
    vertical-align: top;
    display:inline-block;
    float:none;
    text-align:left;
    margin-right:-4px;
}
#container-medium {
  margin: auto;
  width: 850px;
}

#leavemess{
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 25px;
}
// Styling for about page
#about-header-image {
  height: 400px;
  width: 100%;
  background-image: url('about-header.jpg');
  background-repeat:no-repeat;
  background-size: 100%;
}

#about-text-wrapper {
  width: 100%;
  height: 300px;
  display: table;
}

#about-us {
  display: table-cell;
  vertical-align: middle;
}

#about-text {
  width: 80%;
  margin: auto;
  line-height: 40px;
  text-align: center;
}

#team-background {
  padding-bottom: 70px;
  width: 100%;
  background-image: url('noise_pattern.png');
  text-align: center;
}

#team-text {
  color: #003C62;
  padding: 50px 0;
  font-family: Audiowide;
}


.rod-photo {
  width: 200px;
  height: 200px;
  margin: auto;
}


#rod1 {
  background-image: url('rod1-cropped');
  background-size: cover;
  border-radius: 100px;
}

#rod2 {
  background-image: url('rod2-cropped');
  background-size: cover;
  border-radius: 100px;
}

#rod3 {
  background-image: url('rod3-cropped');
  background-size: cover;
  border-radius: 100px;
}

#rod4 {
  background-image: url('rod4-cropped');
  background-size: cover;
  border-radius: 100px;
}

.fa-stack a {
    color: #333;
}

// Styling for FAQ page
#boxy{
  background: url( asset-path('faq-bg.jpg') );
  background-size: cover;
  background-color: #B79E56;
  background-attachment: fixed;
}

#question{
  background: #0073e6;
  color: #ffffff;
  font-size: 10px;
  font-weight: bold;
}

button.accordion {
    background-color: #0073e6;
    color: #ffffff;
    cursor: pointer;
    padding: 10px;
    width: 100%;
    padding: 10px;
    margin-top: 0px;
    margin-bottom: 0px;

    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
button.accordion.active, button.accordion:hover {
    background-color: #ddd;
}
button.accordion:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
}

button.accordion.active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
}

// version 2 team 7

.panel-heading {
  color: darkgrey;
}

#got-game {
  font-weight: bold;
  font-size: 45px;
}

#indie-game-heading {
  color: lightblue;
}

.glyphicon {
  font-size: 20px;
}

.footer {
  padding-top: 5px;
  width: 100%;
}

.copyright {
  font-size: 20px;
}
