// Place all the styles related to the keys controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.key_form_spacing {
  padding-bottom: 4px;
}
.key_form_spacing_right {
  padding-bottom: 0px;
  line-height: 13px;
}
