// Place all the styles related to the messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#allmess {
  background-image: url("gungeonfirst.jpg");
  background-size: cover;
  font-size: 18px;
  height: 1000px;
  width: 100%;
  color: white;
}

#allmess p {
  margin-top: 60px;
  text-align: center;
  font-size: 36px;
  margin-bottom: 60px;
  font-weight: bold;
}
#mess{
  padding: 15px;
  border-color: orange;
  font-size: 18px;
  background-color: hsla(0, 0%, 0%, 0.6);
}

.help-block {
  color: red;
}

.btn {
  margin: 10px;
}
