// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



input#file-display.input-large.uneditable-input {
  border: 0;
}

p {
  &#register-p {
    font-size: 16px;
    color: #fff;
    text-align: center;
  }
}

.btn {
  &.register-button {
    background-color: #EF7030;
    border-color: #EF7030;
    color: #fff;
    width: 100%;
    border: 0;
  }
}


.type {
  color: #fff;
}

input[type="file"].hidden-input {
  display: none;
}


a#upload-btn.btn {
  background-color: #EF7030;
  color: #fff;
}

a#upload-btn.btn:hover {
  background-color: #fff;
  color: #000;
}

input#file-display.input-large.uneditable-input {
  opacity: 0.6;
  height: 34px;
  border-radius: 4px;
  margin-right: 5px;
  font-size: 1.3em;
}

// Styling for show page
#developer-page-wrapper {
  padding-top: 60px;
  background-image: url('profile-dev-bg.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #816989;
}

#dev-logo {
  width: 200px;
  height: 200px;
  background-size: cover;
  margin: 20px auto;
}

#game-picture {
  height: 300px;
  width: 300px;
  background-size: cover;
  display: inline-block;
}

#dev-info {
  background-color: white;
  opacity: 0.7;
  width: 100%;
  display: inline-block;
}

h1#dev-user-h1 {
  font-size: 3em;
  color: #fff;
  font-weight: bold;
}

#dev-games-list {
  width: 100%;
  margin-right: 100px;
  margin-top: 50px;
}

.individual-game-info {
  background-color: white;
  opacity: 0.7;
  margin: 25px 0;
  height: 300px;
  position: relative;
}

#text-info {
  text-align: center;
  display: inline-block;
  margin-left: 150px;
  position: absolute;
  top: 0;
}

.container-dev-games {
  background: rgba(255,255,255,0.7);
  margin-top: 45px;
}
