// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1 {
  &#register-h1 {
    font-size: 3em;
    font-family: 'Prompt', sans-serif;
    font-weight: bold;
    color: #fff;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 30px;
  }
}

#register-bg {
  background-image: url("register-bg.jpg");
  background-size: cover;
}

.btn-default {
  &.register-btn-default {
    color: #fff;
    background-color: #EF7030;
    border: 0;
  }
}

input.btn-default {
  border: 0;
}

.container {
  &.create-user {
    padding-left: 150px;
    padding-right: 150px;
    padding-bottom: 50px;
  }
}

.form-inputs {
  &.register-form-control {
    opacity: 0.6;
  }
}

input #user_logo {
  .file.optional {
    background-color: #EF7030;
  }
}

.form-actions {
  &.register-form-group {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
  }
}


p {
  &#register-p {
    font-size: 16px;
    color: #fff;
    text-align: center;
  }
}

.btn {
  &.register-button {
    background-color: #EF7030;
    border-color: #EF7030;
    color: #fff;
    width: 100%;
    border: 0;
  }
}

.btn-default:hover {
  color: #333;
  background-color: #fff;
  border-color: #CCC;
}

.type {
  color: #fff;
}

input[type="file"].hidden-input {
  display: none;
}

label {
  text-align: center;
  color: #fff;
  font-size: 1.3em;
}

a#upload-btn.btn {
  background-color: #EF7030;
  color: #fff;
}

a#upload-btn.btn:hover {
  background-color: #fff;
  color: #000;
}

input#file-display.input-large.uneditable-input {
  opacity: 0.6;
  height: 34px;
  border-radius: 4px;
  margin-right: 5px;
  font-size: 1.3em;
}

// Styling for show page
#developer-page-wrapper {
  padding-top: 60px;
  background-image: url('profile-dev-bg.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #816989;
}

#dev-logo {
  width: 200px;
  height: 200px;
  background-size: cover;
  margin: 25px;
}

#game-picture {
  height: 300px;
  width: 300px;
  background-size: cover;
  display: inline-block;
}

#dev-info {
  background-color: white;
  opacity: 0.7;
  width: 25%;
  display: inline-block;
  margin-left: 50px;
}

#dev-games-list {
  width: 65%;
  float: right;
  margin-right: 100px;
  margin-top: 50px;
}

.individual-game-info {
  background-color: white;
  opacity: 0.7;
  margin: 25px 0;
  height: 300px;
  position: relative;
}

#text-info {
  text-align: center;
  display: inline-block;
  margin-left: 150px;
  position: absolute;
  top: 0;
}
