<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-logo col-sm-2 col-xs-12">
                <a class="navbar-brand" href="/"><img class="logo-nav logo-footer" src="/images/logo0.png" alt="Arcade"/></a>
            </div>
            <div class="footer-list footer-list1 col-sm-2 col-xs-4 text-center">
                <%= link_to "About", about_path %>
            </div>
            <div class="footer-list col-sm-2 col-xs-4 text-center">
                <%= link_to "Contact", contact_path %>
            </div>
            <div class="footer-list col-sm-2 col-xs-4 text-center">
                <%= link_to "FAQ", faq_path %>
            </div>
            <div class='footer-social col-xs-12 col-sm-4'>
                    <i class="fa fa-facebook-official" aria-hidden="true"></i>
                    &nbsp;&nbsp;&nbsp;
                    <i class="fa fa-twitter" aria-hidden="true"></i>
                    &nbsp;&nbsp;&nbsp;
                    <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                    &nbsp;&nbsp;&nbsp;
                    <i class="fa fa-instagram" aria-hidden="true"></i>
            </div>
        </div>
    </div>
</footer>
